@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    font-family: 'Nunito',sans-serif;
    font-size: 20px;
    list-style: none;
    text-decoration: none;

}
body{
    background-color: #ffffff;
   
    
}
main{
    background-image:url(images/1725971809859.jpg) ;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;

}


.header .logo img{
    height: 70px;
    width: auto;
    transition: 0.3s;
    
}
.header .logo img:hover{
    transform: scale(1.1) ;
}

.header .nav-links li{
    display:  inline-block;
    padding:0 20px; 
}
.header .nav-links li:hover,
.overlay a:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #8a5004;
   
}
.header .nav-links li a:hover{
color:chocolate ;
}
.menu{
    display: none;
}
.header .btn button,
.header .menu button{
    font-weight: 700;
    color: #8a5004;
    padding: 9px 25px;
    background: rgb(241, 181, 138);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
   
}


.header .btn button:hover,
.header .menu button:hover{
    background-color: chocolate;
    color: #ffffff;
    transform: scale(1.1);
}

@media screen and (max-width: 900px){
    .nav-links, .btn{
        display: none;
    }  
    .menu{
        display: inherit;
    }  
}
    


/*esto es para responsive*/

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    background-color:rgba(255, 255,255,0.7);
    overflow: hidden;
    transition: all 0.3 ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3 ease 0s;
    font-weight: 700;
    color: #8a5004;

}

.header .overlay a:hover,
.header .overlay a:focus{
    color: chocolate;
}
.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px){
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    
}

.container  {
 
   min-height: 100vh;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
  
}
.container1{
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 10px;
}
 .titulo h1 {
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 80px; 
    color: #fff; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
 
}

.titulo p{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color:#ffffff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}.slider {
    position: relative;
    max-width: 600px; 
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    position: relative;
    min-width: calc(33.333% - 20px); /* 3 imágenes y espacio de 20px */
    margin: 0 1px; /* Para el espacio lateral */
}

.slide img {
    width: 100%;
    display: block;
    transition: transform 0.3s, filter 0.3s; /* Efecto de hover */
}

.caption {
    text-align: center;
    margin-top: 10px;
}

.slide:hover img {
    transform: scale(1.1);
    filter: blur(2px);
}

.slide:hover .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s;
}

.caption {
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s;
}

.slide:hover .caption {
    opacity: 1; /* Muestra en hover */
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

button.prev {
    left: 1px;
}

button.next {
    right: 90px;
}
h4 {
    font-size: 1.5rem;
    color: #ffffff;
}
#servicios{
    padding: 40px 0;
   

}
.servicio{
    float: left;
    width: 60%;
    border-radius: 20px;
    height: 200px;
    margin-bottom: 20px;
   
}

.servicio1{
    background-image: url(images/estudiantes.png);
    background-position: bottom center;
    
    }
.servicio2{
        background-image: url(images/investigacion.png);
       
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
      

        
        }
.servicio3{
background-image: url(images/muestrasxilo.png);

}
.servicio-description{
    float: right;
    width: 40%;
    text-align: left;
    padding: 15px 0px 30px 30px;
    backdrop-filter: blur(3px);
}

.servicio-description h4{
    font-weight: bold;
    padding-bottom: 10px;

}
.servicio-description p{
    font-weight: 300;
   color: #ffffff;

}
.search-bar {
    margin: 50px 0;
    display: block;
    bottom: 50px;    
    position: absolute;
    justify-content: center;
    
}

#search-input {
    padding: 10px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

button {
    padding: 10px 15px;
    margin-left: 5px;
    background-color: #8a5004;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: chocolate;
}
.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 15px;
    color: #ffffff;
}

.contact-form input, 
.contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #8a5004;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: chocolate;
}

footer {
    text-align: center;
    padding: 20px;
    background-color:#8a5004;
    color: white;
    position: relative;
}
.wrapp{
    backdrop-filter: blur(5px);

}
#title-form{
    color: #ffffff;
    font-size: 3rem;
    padding: 20px;
    float: left;
    margin-bottom: 20px;
}
#text-form{
    color: #ffffff;
    font-size: 25px;
    display: block;
    position: relative;
    padding-top: 100px;
}

#loginut{
    display: flex;
    flex-direction: column;
}

      


